 .colform {
    float:left;
	margin-right: 2.5px;
	margin-left: 2.5px;
} 

body {
    background-color: #E0E0E0;
	width: auto;
	margin: 0;
	padding: 0;
}

#content {
    min-height: 100%;
    margin-bottom: -200px; /* Equivalent to footer's height */
}

.spacer, #footer {
      z-index: 1;
}

 h3{
	color: #787878 ;
 }