 .colform {
    float:left;
	margin-right: 2.5px;
	margin-left: 2.5px;
} 

body {
    background-color: #E0E0E0;
	width: auto;
	margin: 0;
	padding: 0;
}

#content {
    min-height: 100%;
    margin-bottom: -200px; /* Equivalent to footer's height */
    padding-bottom: 200px; /* Equivalent to footer's height */
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

#footer{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0px;
}

 h3{
	color: #787878 ;
 }