 .colform {
    float:left;
	margin-right: 2.5px;
	margin-left: 2.5px;
} 

body {
    background-color: #E0E0E0;
	width: auto;
	margin: 0;
	padding: 0;
    text-align: center;
}

#content {
    min-height: 100%;
    margin-bottom: -100px; /* Equivalent to footer's height */
    padding-bottom: 100px; /* Equivalent to footer's height */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

#footer{
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 10px;
}

.box1 {
    margin-left:  35%;
    margin-right: 35%;
     border-style: solid;
     border-width: 1px;
     border-color: #000000;
     border-radius: 5px;
     height: auto;
    padding: 25px;
    font-weight: bold;
    width: auto;
}

.box2 {
    margin-left:  35%;
    margin-right: 35%;
     border-style: solid;
     border-width: 1px;
     border-color: #000000;
     border-radius: 5px;
     height: auto;
    padding: 25px;
    font-weight: bold;
    width: auto;
}


 h3{
    color: #787878 ;
 }

 h4{
    color: #787878 ;
 }
 
table {
	border-collapse: collapse;
    margin-left: auto;
    margin-right: auto; 
}
 
 tr {
	height: auto;
 }
 
 td {
	padding: 5px;
    font-weight: bold;
    text-align: right;
}